* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#banner {
  background: url(./images/donation9.jpg) no-repeat center / cover;
  position: relative;
  padding: 200px 0;
}

#banner #banner-overlay {
  text-align: center;
  color: white;
}

#banner #banner-overlay h1 {
  font-size: 40px;
}

#banner p {
  padding: 0 200px;
  margin-bottom: 40px;
}

#banner a {
  color: white;
  padding: 20px 25px;
  background: orange;
  border-radius: 50px;
}



.flex{
    display: flex;
}



#donate-today{
    text-align: center;
    margin: 120px 0;
}

#donate-today h1{
    font-size: 40px;
    margin-bottom: 20px;
}

#donate-today .sub-title{
    padding: 0 200px;
    margin-bottom: 80px;
}

#donate-today .row{
    display: flex;
    justify-content: space-evenly;
}

#donate-today .row .amount-text{
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    width: 100px;
    float: left;
    padding: 30px 20px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
}

#donate-today .row .amount-text:hover{
    background: #ffeeee;
    border: 1px solid #ff5959;
}

#donate-today input{
    margin-top: 70px;
    border: none;
    padding: 20px;
    font-size: 20px;
    width: 400px;
}

#donate-today input::placeholder{
    color: #a7a7a7;
    text-align: center;
}

#donate-today hr{
    width: 500px;
    margin: auto;
}